body {
	background-color:;
	font-family:;
	font-color:;
	margin:;
	padding:;

}

.nav-bar-container {
	background-color:;

}

.name {
	background-color:;
	font-color:;

}

.links {

}

.about-me {

}

.about-me h1{

}

.about-me img{

}

.about-me p{

}

.connect-with-me{

}

.connect-with-me h1{

}

.icon-bar{

}

footer{

}
.portfolio{

}

.portfolio h1{

}

.portfolio ul{

}

.contact {

}

.contact h1{

}

.form-container {

}


