body {
	background-color: `#ffffff`;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-color:#777777;

	margin:;
	padding:;

}

.nav-bar-container {
	background-color:`#ffffff`;
	border-bottom: 2px solid;
	border-color: lightgrey;



}

.name {
	background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: flex;
    float: left;
    height: 70px;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.links li{
	font-color:lightgrey;

}

.about-me {
	background-color:`#ffffff`;
	border-color:`#dddddd`;


}

.about-me h1{
	font-family: 'Georgia', Times, Times New Roman, serif;

}

.about-me img{

}

.about-me p{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.connect-with-me{

}

.connect-with-me h1{
	font-family: 'Georgia', Times, Times New Roman, serif;

}

.icon-bar{

}

footer{
	background-color: `#666666`;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
.portfolio{


}

.portfolio h1{
	font-family: 'Georgia', Times, Times New Roman, serif;

}

.portfolio {

}

.contact {

}

.contact h1{
	font-family: 'Georgia', Times, Times New Roman, serif;

}

.form-container {

}


